<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.luca.wayfinder</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HOME__/.cargo/bin/wayfinder-router</string>
    <string>serve</string>
    <string>--config</string>
    <string>__HOME__/.config/wayfinder-router/wayfinder-router.toml</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__HOME__/.config/wayfinder-router</string>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StandardOutPath</key>
    <string>__HOME__/wayfinder-server.log</string>
  <key>StandardErrorPath</key>
    <string>__HOME__/wayfinder-server.log</string>
</dict>
</plist>
